#admin_messages_index {

.messages_list {
    margin-top: 5%;
}

.messages_list::after {
    content: "";
    display: table;
    clear: both;
}

.message_box {
    margin-bottom: 3%;
    border-radius: 2px;
    position: relative;
    cursor: pointer;
}

.mex_offset {
    padding: 1% 2%;
    border: none;
}

.mex_name {
    padding: 0 2%;
    color: #333333;
    background-color: lightgrey;
    h3 {
        font-size: 20px;
        line-height: 30px;
    }
}

.bg_lightgrey {
    background-color: lightgrey;
}


.id_sign {
    width: 20px;
    height: 20px;
    padding: 2%;
    border: 1px solid transparent;
    text-align: center;
    background-color: $colorMain;
}

.leggi {
    position: absolute;
    width: 100px;
    height: 100%;
    right: 0;
    top: 0;
    display: none;
    z-index: 3;
    border-left: 2px solid #333333;

    .link_box {
        width: 40px;
        height: 20px;
        float: right;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.message_box:hover {
    border: 2px solid #333333;
}

.message_box:hover .leggi {
    display: block;
}

}