#guest_search {

  .hero-container {
    width: 100%;
    height: 600px;
    background-image: url('/img/img_search.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    padding: 0;
  }

  .form-row {
    position: relative;
    padding-bottom: 20px;
  }

  .form-home {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    margin: auto;
    padding: 20px 35px 15px;

    #submitSearch {
      margin-top: 30px;
    }

    #filters {
      margin-top: 30px;
      font-size: 14px;
      i {
        padding-left: 4px;
      }
    }
  }

  .form-check {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #808080;
    padding: 5px 10px;
    width: 100%;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 100%;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;

    &.d_none {
      display: none;
    }

    .checkbox {
      padding: 5px 7px;
    }

    .block {
      display: block;
    }
  }

    @media screen and (max-width: 929px) {

    }

    @media screen and (max-width: 749px) {

    }

    @media screen and (max-width: 575px){

    }

    @media screen and (max-width: 389px){

    }


  .results {

    margin-top: 40px;

    .flat {
      padding-bottom: 50px;

      &__link {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 10;
      }

      &__text {
        padding-right: 15px;
      }

      &__container-img {
        position: relative;
      }

      &__img {
        width: 100%;
      }

      &__info {
        padding-top: 15px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 18px;
        color: #282e33;
        * {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        i {
          padding: 10px 0;
        }
      }

      &__options {
        display: flex;
        padding-top: 5px;
        padding-bottom: 18px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-size: 20px;
        * {
          padding: 5px 10px;
        }
      }

      &__sponsored {
        position: absolute;
        padding: 3px 10px;
        background-color: $lightGreen;
        font-size: 12px;
        color: #fff;
        top: 10%;
        left: 15px;
      }

    }

  }

  @media screen and (max-width: 575px) {

    .results {
      margin-top: 120px;
    }
  }

  #sponsored {

    .sponsored-flat {
        background-color: #3FB27F;
    }
  }

  #not-sponsored {
      .not-sponsored-flat {
          border: 2px solid #3FB27F;
      }
  }

  @media screen and (max-width: 575px) {

    .form {
      position: relative;
    }
  }


}

[for="checkbox_1"]::before {
  padding: 0 6px 0 4px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: $lightGreen;
  content: "\f1eb";
}

[for="checkbox_2"]::before {
  padding: 0 6px 0 4px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: $lightGreen;
  content: "\f26c";
}

[for="checkbox_3"]::before {
  padding: 0 6px 0 4px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: $lightGreen;
  content: "\f06d";
}

[for="checkbox_4"]::before {
  padding: 0 6px 0 4px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: $lightGreen;
  content: "\f2dc";
}

[for="checkbox_5"]::before {
  padding: 0 6px 0 4px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: $lightGreen;
  content: "\f1b9";
}

[for="checkbox_6"]::before {
  padding: 0 6px 0 4px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: $lightGreen;
  content: "\f7bd";
}

[for="checkbox_7"]::before {
  padding: 0 6px 0 4px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: $lightGreen;
  content: "\f5c4";
}

[for="checkbox_8"]::before {
  padding: 0 6px 0 4px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: $lightGreen;
  content: "\f562";
}

[for="checkbox_9"]::before {
  padding: 0 6px 0 4px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: $lightGreen;
  content: "\f593";
}

[for="checkbox_10"]::before {
  padding: 0 6px 0 4px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: $lightGreen;
  content: "\f773";
}

#not-sponsored .flat__sponsored {
  display: none;
}

.missing-option::before {
  color: #3c4349 !important;
}
.missing-option {
  position: relative;
  span {
    padding: 0 !important;
    position: absolute;
    top: 19px;
    left: 9px;
    display: block;
    background-color: #3c4349;
    width: 37px;
    height: 4px;
    transform: rotate(-45deg);
  }
}

.no-results {
  text-align: center;
  margin: 80px 0;
  &__img {
    width: 60%;
    display: block;
    margin: 30px auto;
  }
}