#guest_flats_show {

  .jumbo {
    overflow-x: hidden;

    .left, .right {
      position: absolute;
      top: 50%;
    }

    .left {
      left: 0;
    }

    .right {
      right: 0;
    }

    .left i, .right i {
      font-size: 100px;
      color: #fff;
    }

    img {
      width: 100%;
    }
  }

  .main-infos-flat {
    padding: 10px;
    text-align: center;
    background-color: $lightGreen;
    color: #fff;
  }

  .user_avatar {
    max-height: 150px;
    position: relative;


    img {
      border-radius: 100%;
      margin: 10px;
      width: 100px;
      float: left;
    }

    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    a {
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  .flat_description {
    font-size: 24px;
  }

  .flat_map {
    z-index: 2;

    #map-example-container {
      height: 500px;
      width: 100%;
    }
  }

  .flat_infos {
    background-color: $lightGrey;
    padding: 20px;
    border: 3px solid #333333;
    border-left: none;
    border-right: none;
    font-size: 18px;

    i {
      color: $lightGreen;
    }

    h3 {
      color: $colorMain;

    }

     &_list {
       height: calc(100% - 30px);
       list-style: none;
       background-color: #fff;
       margin-bottom: 15px;
       padding-left: 5px;
     }
  }

  .flat_message {

  }
}
