footer {
    background-color: #ececec;
    padding: 2% 0;

    .color_link {
        color: #000;
        font-size: 14px;

        &:hover {
            color: $colorMain;
        }

    }

    /**/

    .social-footer {
      text-align: center;
        li {
            list-style: none;
        }
    }

    .social_container {
      display: flex;
      justify-content: space-around;
      flex-flow: wrap;
    }

    .section_title {

        font-weight: bold;

    }

    .icon-footer {
        font-size: 20px;

        &.github {
            font-size: 15px;
        }
    }

    div.logo-footer {
      margin: 0 auto 30px;
    }

    .logo-footer {
        width: 30px;
    }

    .description-footer {
        font-size: 15px;
    }

    .description-site {
        margin-top: 5%;
        font-size: 12px;
        font-weight: 400;
        // text-align: center;
    }

    .profile-info {
      text-align: center;

      a {
        color: #000;
        &:hover {
          text-decoration: underline !important;
        }
      }
    }
}