footer {
    background-color: $mainGrey;
    padding: 2% 0;

    .color_link {
        color: #000;
        font-size: 14px;

        &:hover {
            color: $colorMain;
        }

    }

    /**/

    .social-footer {
        li {
            list-style: none;
        }
    }

    .section_title {

        font-weight: bold;

    }

    .icon-footer {
        font-size: 20px;

        &.github {
            font-size: 15px;
        }
    }

    .logo-footer {
        width: 30px;
    }

    .description-footer {
        font-size: 15px;
    }

    .description-site {
        margin-top: 5%;
        font-size: 12px;
        font-weight: 400;
        // text-align: center;
    }
}