// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 16px;
$font-size-large: 24px;
$line-height-base: 1.6;

// Colors

$colorMain: #3FB27F;
$lightGreen: #66C070;
$mainGrey: #A4A8AB;
$lighGrey: #D8DAD9;
